
@font-face
{
font-family: myFirstFont;
src: url('cosmo/AkkuratPro-Bold.otf');
}


*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;

}

#container{
	width:100%;
	margin:0px auto;
}



/*/fristbeginninggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

/*firstpart*/
#firstpart{
	width:100%;
}

#redpage{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#D60012;
	z-index: 999;
	transform:scale(1, 1);
}

#logoani{
	z-index: 999;
	width:35%;
	margin-right:auto;
	margin-left:auto;
	margin-top:420px;
}

#logocoms{
	width:100%;
}


#circlesani{
	width:100%;
	height:100%;
	margin:0px auto;
}


#circles{
	width:100%;
}

    .red{
    	fill:#D60012;
	    stroke:#A1000E; 
	    stroke-width:0.5;
	}


	.grey{
		fill:#C5C6C6;
		stroke:#949595; 
	    stroke-width:0.5;
	}


#redTop{
	transition-timing-function: ease-in;
	transition: 12s;
}

#red2{
	transition-timing-function: cubic-bezier(.57,.06,.95,.19);
	transition: 8s;

}

#red3{
	transition-timing-function: cubic-bezier(1,.08,.85,.6);
	transition: 5s;

}

#redBottom{
	transition-timing-function: linear;
	transition: 7s;

}

#grey1{
	transition-timing-function: linear;
	transition: 2s;

}

#grey2{
	transition-timing-function: cubic-bezier(.57,.06,.83,.62);
	transition: 6s;

}

#grey3{
	transition-timing-function: cubic-bezier(.2,.57,1,.3);
	transition: 10s;

}

/*client&work*/
#switch{
	position:absolute;
	top:1700px;
	left:320px;
    width:30%;
	margin:0px auto;
	height:100px;
	background-color:white;
	z-index: 200;
	transform:scale(1, 1);
	transform-origin: 0% 0%;
	transition: transform 0.4s cubic-bezier(.07,1.06,.49,.98);
}


#on{
	width:60%;
	margin:0px auto;
	height:100px;
}

.client{
	float:left;
	text-align: center;
	margin:10px 0px;
	margin-right:100px;
	font-family:"Arial";
	font-size:12px;
	color:#808080;
	letter-spacing: 2px;
	text-decoration: none;
	list-style-type: none;
}
	
.work{
	float:left;
	text-align: center;
	margin:10px 0px;
	font-family:"Arial";
	font-size:12px;
	color:#808080;
	letter-spacing: 2px;
	text-decoration: none;
	list-style-type: none;
}

.client:after{
	display:block;
	margin:10px;
	content:"Cosmo";
	font-family:myFirstFont;
	font-size:20px;
	color:black;
	letter-spacing:1px;
	text-decoration: none;
	list-style-type: none;
}


.work:after{
	display:block;
	margin:10px;
	content:"Brand Visual Identity";
	font-family:myFirstFont;
	font-size:20px;
	color:black;
	letter-spacing: 1px;
	text-decoration: none;
	list-style-type: none;
}


/*firstpartendingggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

#secondpart{
    width:100%;
}


.introduction{
    width:49%;
    margin:0px auto;
    padding-top:9%;
}


#introductionsentence{
    width:100%;
    font-family:"Baskerville";
    font-size:32px;
    word-spacing:2px;
    color:black;
    text-decoration: none;
    text-align: center;
    opacity:0;
    transition: all 0.5s linear;
    transform-origin: 100% 100%;

}


#spacial{
    width:60%;
    margin-right:auto;
    margin-left:auto;
    margin-top:30%;
    transition:all 0.4s ease-out;
}

#simg{
    width:100%;
}


/*secondpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/


#thirdpart{
	float:left;
	width:100%;
	margin-top:30%;
	margin-bottom:30%;
	margin-left:auto;
	margin-right:auto;
	transition:all 0.4s ease-out;
}



/*logo*/
#logo{
	float:left;
	width:50%;
	height:100%;
}



#logoSvg{
	width:90%;
	margin-left:15%;
}

.redcolor{
	fill:#C11F26;	
	
}

.blackcolor{
	fill:#231715;
	opacity:0;
}

.redcolorM{
	fill:#C11F26;

}

.lines{
	fill:#C11F26;
	opacity:0;
}

#outWhite{
	transform-origin: 100% 100%;
	opacity:1;
}

#angle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}


#logonotes{
	float:left;
	width:50%;

}

#logoword{
	width:100%;
	padding-right:30%;
	padding-top:33%;
	font-family:"Baskerville";
	font-size:29px;
	word-spacing:2px;
    color:black;
	text-align:right;
}

/*thirdpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/





#forthpart{
    width:100%;
    float:left;
}


#cirlAni{
    width:100%;
    height:100%;
}

#backgroundRed{
    fill:#D60012;
}

#cir1{
    transition:all 2s linear;
}

#cir2{
    transition:all 2s ease-in;
}

#cir3{
    transition:all 2s linear;
}

#cir4{
    transition:all 2s ease-in;
}






/*bigcard*/
#bigcard{
    position:absolute;
    top:4230px;
    margin:0px auto;
    width:100%;
     transition:all 0.4s linear;
    z-index: 200;
}

#redcard{
    width:45%;

    margin:0px auto;
}

#card{
    width:100%;
}
/*bigcard*/


/*bigpeople*/
#bigpeople{
    position:absolute;
    top:5700px;
    margin:0px auto;
    width:100%;
    transition:all 0.4s ease-out;
    z-index: 200;
}

#people{
    width:70%;
    margin:0px auto;
}

#pimg{
    width:100%;
}


#basket{
    position:absolute;
    top:6450px;
    margin:0px auto;
    width:100%;
    transition:all 0.5s ease-out;
    z-index: 200;
     

}

#ball{
    width:35%;
    margin-left:800px;
}

#ballimg{
    width:100%;
}

/*forthpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/



#fifthpart{
    width:100%;
    margin-top:40%;
    background:#D60012;
    float:left;
    border:1px solid rgba(0, 0, 0, 0.4);
}

#tennis{
    margin:0px auto;
    width:100%;
    background-color:#D60012;

}

#timg{
    width:100%;
}




#rediconB{
	width:80%;
	height:70%;
	margin:0px auto;
	background-color:#D60012;
	
}

#redicons{
    width:100%;
}

.icons{
      fill:#FFFFFF;   
      transition:all 0.5s ease-out;
    }

.icons:hover{
    filter:url(#fil1);

    }


/*fifthpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

#final{
    width:100%;
    padding: 50px 100px;
    float:left;
}



#bottom{
	padding:10px 0px;
    float:left;
    width:45%;
    height:100%;
}



.Field{
    padding:5px 0px;
    width:100%;
    font-family:"Arial";
    font-size:10px;
    color:#808080;
    letter-spacing:2px;
    list-style-type: none;
}

 
.Fs{
    width:100%;
    font-family:myFirstFont;
    font-size:20px;
    color:black;
    letter-spacing: 1px;
    list-style-type: none;
    line-height:35px;
}




#finalCosmo{
    float:left;
    width:55%;
}

#cosmoL{
    padding:25px 0px;
    width:35%;
    float:right;
}

.cls-1{
    fill:#D60012;
}
















