

@charset "UTF-8";


@font-face
{
font-family: myFirstFont;
src: url('cosmo/AkkuratPro-Bold.otf');
font-weight: normal;
font-style: normal;
}

html,body{
	margin: 0;
	border: 0;
	padding: 0;
}


body{
  background-color: #FFF;
  font:normal 100% Helvetica,Arial,myFirstFont,Baskerville;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;

}

#container{
	width:100%;
	margin:0px auto;
}


/*/fristbeginninggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/


/*firstpart*/
#firstpart{
	width:100%;
}




#redpage{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#D60012;
	z-index: 999;
	transform:scale(1, 1);

}

#logoani{
	z-index: 999;
	width:35%;
	margin-right:auto;
	margin-left:auto;
	margin-top:420px;
}

#logocoms{
	width:100%;
}




#circlesani{
	width:100%;
	height:100%;
	margin:0px auto;
}


#circles{
	width:100%;
}

    .red{
    	fill:#D60012;
	    stroke:#A1000E; 
	    stroke-width:0.5;
	}


	.grey{
		fill:#C5C6C6;
		stroke:#949595; 
	    stroke-width:0.5;
	}


#redTop{
	transition-timing-function: ease-in;
	transition: 4s;
}

#red2{
	transition-timing-function: cubic-bezier(.57,.06,.95,.19);
	transition: 8s;

}

#red3{
	transition-timing-function: cubic-bezier(1,.08,.85,.6);
	transition: 2s;

}

#redBottom{
	transition-timing-function: linear;
	transition: 3s;

}

#grey1{
	transition-timing-function: linear;
	transition: 2s;

}

#grey2{
	transition-timing-function: cubic-bezier(.57,.06,.83,.62);
	transition: 6s;

}

#grey3{
	transition-timing-function: cubic-bezier(.2,.57,1,.3);
	transition: 3s;

}







#on:before{
	position:absolute;
	content:"";
	width:54%;
	height:60px;
	background-color:white;
	z-index: 200;
	transform:scale(1, 1);
	transform-origin: 0% 0%;
	transition: transform 0.6s cubic-bezier(.07,1.06,.49,.98);

}


#on{
	width:60%;
	margin:0px auto;
	/*height:100px;*/
}

.client{
	float:left;
	text-align: center;
	margin:15px 0px;
	margin-right:100px;
	font-family:"Arial";
	font-weight: bold;
	font-size:0.75em;
	color:#808080;
	letter-spacing: 2px;
	text-decoration: none;
	list-style-type: none;
}
	
.work{
	float:left;
	text-align: center;
	margin:15px 0px;
	font-family:"Arial";
	font-weight: bold;
	font-size:0.75em;
	color:#808080;
	letter-spacing: 2px;
	text-decoration: none;
	list-style-type: none;
}

.client:after{
	display:block;
	margin:10px;
	content:"Cosmo";
	font-family:myFirstFont;
	font-size:1.6em;
	color:black;
	letter-spacing:1px;
	text-decoration: none;
	list-style-type: none;
}


.work:after{
	display:block;
	margin:10px;
	content:"Brand Visual Identity";
	font-family:myFirstFont;
	font-size:1.6em;
	color:black;
	letter-spacing:1px;
	text-decoration: none;
	list-style-type: none;
}




/*firstpartendingggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

#secondpart{
    width:100%;
}


.introduction{
    width:49%;
    margin:0px auto;
    padding-top:12%;
}


#introductionsentence{
    width:100%;
    font-family:"Baskerville";
    font-size:2em;
    word-spacing:2px;
    color:black;
    text-decoration: none;
    text-align: center;
    opacity:0;
    line-height: 40px;
    transition: all 0.6s linear;
    transform-origin: 100% 100%;

}


#spacial{
    width:60%;
    margin-right:auto;
    margin-left:auto;
    margin-top:20%;
    transition:all .7s ease-out;
    opacity:0;

}

#simg{
    width:100%;
}



/*secondpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/


#thirdpart{
	float:left;
	width:100%;
	margin-top:13%;
	margin-bottom:8%;
	margin-left:auto;
	margin-right:auto;
	transition:all 0.8s ease-out;
	opacity:0;
}



/*logo*/
#logo{
	float:left;
	width:50%;
	height:100%;
}



#logoSvg{
	width:90%;
	margin-left:15%;
}

.redcolor{
	fill:#C11F26;	
	
}

.blackcolor{
	fill:#231715;
	opacity:0;
}

.redcolorM{
	fill:#C11F26;

}

.lines{
	fill:#C11F26;
	opacity:0;
}

#outWhite{
	transform-origin: 100% 100%;
	opacity:1;
}

#angle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}


#logonotes{
	float:left;
	width:50%;

}

#logoword{
	width:100%;
	padding-right:30%;
	padding-top:33%;
	font-family:"Baskerville";
	line-height: 35px;
	font-size:1.60em;
	word-spacing:2px;
    color:black;
	text-align:right;

}


/*thirdpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/


#forthpart{
	margin-bottom:10%;
    width:100%;
    float:left;
   /* border: 1px solid black;*/
}



#cirlAni{
	position:absolute;
    top:3900px;
    width:100%;
    z-index: -100;
}

#backgroundRed{
    fill:#D60012;
}

#cir1{
    transition:all 2s linear;
}

#cir2{
    transition:all 2s ease-in;
}

#cir3{
    transition:all 2s linear;
}

#cir4{
    transition:all 2s ease-in;
}




#bigcard{
	padding-top:14%;
    margin:0px auto;
    width:100%;
    z-index: 900;
    opacity:0;
    transition:all 0.6s ease-out;
   
}

#redcard{
    width:45%;
    margin:0px auto;
}

#card{
    width:100%;
}


#bigpeople{

	padding-top:14%;
    margin:0px auto;
    width:100%;
    z-index: 900;
    opacity:0;
    transition:all 0.8s ease-out;
}

#people{
    width:70%;
    margin:0px auto;
}

#pimg{
    width:100%;

}

#basket{

	padding-top:14%;
    margin:0px auto;
    width:100%;
    z-index: 900;
    opacity:0;
    transition:all 0.8s ease-out;
}

#ball{
    width:32%;
    margin-left:52%;
}

#ballimg{
    width:100%;
}










/*forthpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/



#fifthpart{
    width:100%;
/*    margin-top:10%;*/
    background:#D60012;
    float:left;
}

#tennis{
    margin:0px auto;
    width:100%;

}

#timg{
    width:100%;
}



#rediconB{
	width:80%;
	height:70%;
	margin:0px auto;
	background-color:#D60012;
	opacity: 1;

	
}

#redicons{
    width:100%;
}

.icons{
      fill:#FFFFFF;   
      filter:url(#fil1);
      opacity:1;
    }

/*fifthpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

#final{
    width:100%;
    padding: 50px 100px;
    float:left;
}



#bottom{
	padding:10px 0px;
    float:left;
    width:45%;
    height:100%;
}



.Field{
    padding:5px 0px;
    width:100%;
    font-family:"Arial";
    font-weight: bold;
    font-size:0.75em;
    color:#808080;
    letter-spacing:2px;
    list-style-type: none;
}

 
.Fs{
    width:100%;
    font-family:myFirstFont;
    font-weight: bold;
    font-size:1.25em;
    color:black;
    letter-spacing: 1px;
    list-style-type: none;
    line-height:35px;
}



#finalCosmo{
    float:left;
    width:55%;
}

#cosmoL{
    padding:25px 0px;
    width:35%;
    float:right;
}

.cls-1{
    fill:#D60012;
}

























