/*
0.0019375rem =1px;*/

@font-face
{
font-family: myFirstFont;
src: url('RainCo/LetterGothicStd.otf');
}


html{font-size: 100px;}
body{font-size: 0.14rem;}
body{
	padding:0;
	margin:0;
}


*{
	box-sizing: border-box;
	padding:0px 0px;
	margin:0px 0px;
}

body{
	position:absolute;
}

#container{
	width:100%;
	height:100%;
	margin:0rem auto;
}


#music{
	position:fixed;
	top:0rem;
	left:0rem;
	display:none;
	opacity:0;
	z-index: 900;
}


#navi{

	position:absolute;
	top:0.18rem;
	left:0.2rem;
	width:0.290625rem;
	height:1.5rem;
	/*background-color:white;
	background-color:rgba(255, 255, 255, 0.8);*/
	padding:0.0872rem 0.00969rem;
	z-index: 999;
	/*display:none;*/
}


a{
	display:block;
	text-decoration: none;
	font-size:0.029rem;
	font-weight: bold;
	font-family:myFirstFont;
	text-align: center;
	color:black;
	margin:0.039rem auto;

}

#finish{
	float:bottom;
	margin-top:0.96rem;
	cursor:pointer;


}


#musicbutton{
	float:bottom;
	margin-top:0.039rem;
	cursor:pointer;
	font-size:0.025rem;

}


.tri_add{
	transition:all 5s linear;
	
}


#beginani{
	width:100%;
	height:100%;
/*	border:1px solid black;*/
	position:fixed;
	z-index:1000;
	opacity:1;
	top:0rem;

}

#logoani{
	background-color: white;
	width:100%;
	height:100%;
}



#logoSvg{
	position:fixed;
	top:8%;
	right:7.5%;
	width:7%;
	z-index: 999;
/*	border:1px solid black;*/
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
iframe{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	border:none;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




#circles{
	width:100%;
	position:fixed;
	top:0rem;
	left:0rem;
/*	border:1px solid white;*/
	z-index: 300;
	opacity:0;

}


.im{
	position:fixed;
	/*border:1px solid black;*/
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#triangle{
	position:fixed;

}

.st0{
	fill:#e2e2e2;
} 

.tri{
	position:fixed;
	display:none;
	transition:all 2s ease-in-out;

}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#music{
	display:none;
}

#musicB{
	position:fixed;
}



/*/////////////////////////////////////////////////////////////////////////////////////*/

.round{
        /*transition: transform 4s ease-in-out;*/
        transform-origin: 50% 50%;
        animation: round 2s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-iteration-count: infinite;
}

    @keyframes round {
        0% {
            transform: scale(0.8, 0.8);
            transform-origin: 50% 50%;
        }
        60% {
            transform: scale(1.2, 1.2);
            transform-origin: 50% 50%;
        }
        100% {
            transform: scale(1, 1);
            transform-origin: 50% 50%;
        }
    }

p{
	position:fixed;
	text-decoration: none;
	font-size:0.025rem;
	font-family:myFirstFont;
	text-align: center;
	color:black;
	z-index: 1000;
	opacity:0;
	left:49.5%;
	bottom:15%;
	text-shadow: 0.0020rem 0.0020rem 0.0020rem rgba(0, 0, 0, 0.2);
}


#continue{
	left:50%;
	top:8%;
	height:0.04rem;;
	cursor:pointer;

}

#change{
	left:50.5%;
	top:11%;
	cursor:pointer;
	height:0.04rem;;
	


}




#cF{
	width:55%;
	height:50%;
	border:0.025rem solid white;
	position:fixed;
	z-index:2000;
	opacity:1;
	left:25%;
	top:23%;	
	display:none;
	transition: all 1s linear;
}

#fAni{
	width:100%;
	height:100%;
/*	background-color: white;*/
	border:0.001rem solid rgba(0, 0, 0, 0.5);

}




#tF{
	width:30%;
	height:71%;
	border:0.025rem solid white;
	position:fixed;
	z-index:2000;
	opacity:1;
	left:36.9%;
	top:16%;	
	display:none;
	/*transition: all 1s linear;*/


}

#tfAni{
	width:100%;
	height:100%;
/*	background-color: white;*/
	border:0.001rem solid rgba(0, 0, 0, 0.5);

}




/*////////////////////////////////////////////////////////////////////*/


.stA{
	fill:#FFFFFF;
}

.stB{
	fill-rule:evenodd;
	clip-rule:evenodd;
}

.stC{
	fill:#d2b690;
	stroke:#d2b690;
	stroke-miterlimit:10;
}

.st00{fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#231815;
}

.st11{opacity:1;
	  fill:#e3cead;
	}

.st22{fill:#231815;
}


































