








  /*iphone 6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){


 #logoani{
    z-index: 999;
    width:32%;
    margin-right:auto;
    margin-left:auto;
    margin-top:250px;
}

#logocoms{
    width:100%;
}


/*///////////////////////////////////////////////////////////////*/

#switch{
	position:absolute;
	top:59%;
	left:50px;
    width:70%;
	margin:0px auto;
	height:50px;
	/*background-color:white;*/
	z-index: 200;
	transform:scale(1, 1);
	transform-origin: 0% 0%;
	transition: transform 0.4s cubic-bezier(.07,1.06,.49,.98);
	border:1px solid black;
}


#on{
	width:%;
	margin:0px auto;
	padding:5px;
	height:70px;

	
}

.client{
	float:left;
	text-align: center;
	margin:10px 20px;
	font-family:"Arial";
	font-size:6px;
	color:#808080;
	letter-spacing: 1px;
	text-decoration: none;
	list-style-type: none;

}
	
.work{
	float:left;
	text-align: center;
	margin:10px 20px;
	font-family:"Arial";
	font-size:6px;
	color:#808080;
	letter-spacing: 1px;
	text-decoration: none;
	list-style-type: none;
}

.client:after{
	display:block;
	margin:6px 0px;
	content:"Cosmo";
	font-family:myFirstFont;
	font-size:15px;
	color:black;
	letter-spacing:0.5px;
	text-decoration: none;
	list-style-type: none;
}


.work:after{
	display:block;
	margin:6px 0px;
	content:"Brand Visual Identity";
	font-family:myFirstFont;
	font-size:15px;
	color:black;
	letter-spacing: 0.5px;
	text-decoration: none;
	list-style-type: none;
}




























}