



@media (min-width: 321px) and (max-width: 640px) {

	#on{
	width:62%;
}

.client{
	margin:10px 0px;
	margin-right:20px;
	font-size:0.4em;
	letter-spacing: 1.5px;
/*	border:1px solid black;*/
}
	
.work{
	text-align: center;
	margin:10px 0px;
	font-size:0.4em;
	letter-spacing: 1.5px;
/*	border:1px solid black;*/
}

.client:after{
	display:block;
	margin:8px;
	font-size:1.2em;
	letter-spacing:1px;

}


.work:after{
	display:block;
	margin:8px;
	font-size:1.2em;
	letter-spacing:1px;

}


.introduction{
    width:72%;
    margin:0px auto;
    padding-top:8%;
}


#introductionsentence{
    font-size:0.7em;
    word-spacing:1.8px;
    line-height: 15.5px;

}


#spacial{
    width:75%;
}


#logo{
	float:left;
	width:53%;
	height:100%;
}




#logonotes{
	float:left;
	width:45%;

}

#logoword{
	padding-top:40%;
	padding-right:28%;
	line-height: 11px;
	font-size:.5em;
}


#cirlAni{
    top:1450px;
}


#final{
    width:100%;
    padding: 15px 25px;
}

.Fs{
    font-size:0.5em;
    line-height:14px;
}

}









@media (min-width: 641px) and (max-width: 980px) {



	#on{
	width:60%;
}

.client{
	margin-right:30px;
	font-size:0.6em;
	letter-spacing: 1.5px;
/*	border:1px solid black;*/
}
	
.work{
	font-size:0.6em;
	letter-spacing: 1.5px;
/*	border:1px solid black;*/
}

.client:after{
	margin:10px;
	font-size:1.3em;
	letter-spacing:1px;
}


.work:after{
	margin:10px;
	font-size:1.3em;
	letter-spacing:1px;
}




.introduction{
    width:55%;
    padding-top:10%;
}


#introductionsentence{
    font-size:1em;
    word-spacing:2px;
    line-height: 23px;

}


#spacial{
    width:75%;

}


#logonotes{
	float:right;
	width:45%;

}

#logoword{
	padding-right:30%;
	padding-top:33%;
	line-height: 22px;
	font-size:1em;

}


#cirlAni{
    top:2020px;
}



#final{
    padding: 30px 50px;
}


.Field{
    font-size:0.6em;
}

 
.Fs{
    font-size:0.8em;
    line-height:23px;
}

#cosmoL{
    width:45%;
}

}











@media (min-width: 981px) and (max-width: 1440px) {

#on{
	width:60%;
	height:50px;
}

.client{
	margin-right:40px;
	font-size:0.7em;
	letter-spacing: 1.5px;
}
	
.work{
	font-size:0.7em;
	letter-spacing: 1.5px;
}

.client:after{
	margin:10px;
	font-size:1.4em;
	letter-spacing:1px;
}


.work:after{
	margin:10px;
	font-size:1.4em;
	letter-spacing:1px;
}





.introduction{
    width:64%;
    padding-top:10%;
}


#introductionsentence{
    font-size:1.6em;
    word-spacing:2px;
    line-height: 32px;

}



#spacial{
    width:75%;

}


#logonotes{
	float:right;
	width:45%;

}

#logoword{
	padding-right:33%;
	padding-top:33%;
	line-height: 28px;
	font-size:1.3em;

}

#cirlAni{
    top:2600px;
}



#final{
    padding: 50px 60px;
}


.Field{
    font-size:0.7em;
}

 
.Fs{
    font-size:1.2em;
    line-height:33px;
}

#cosmoL{
    width:45%;
}

}


/*////////////////////////////////////////////////*/

@media (min-width: 1441px) and (max-width: 1600px)  { 








}


















@media (min-width: 1601px){

#firstpart{
	width:100%;
}

#redpage{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#D60012;
	z-index: 999;
	transform:scale(1, 1);
}

#logoani{
	z-index: 999;
	width:35%;
	margin-right:auto;
	margin-left:auto;
	margin-top:420px;
}

#logocoms{
	width:100%;
}


#circlesani{
	width:100%;
	height:100%;
	margin:0px auto;
}


#circles{
	width:100%;
}

    .red{
    	fill:#D60012;
	    stroke:#A1000E; 
	    stroke-width:0.5;
	}


	.grey{
		fill:#C5C6C6;
		stroke:#949595; 
	    stroke-width:0.5;
	}


#redTop{
	transition-timing-function: ease-in;
	transition: 12s;
}

#red2{
	transition-timing-function: cubic-bezier(.57,.06,.95,.19);
	transition: 8s;

}

#red3{
	transition-timing-function: cubic-bezier(1,.08,.85,.6);
	transition: 5s;

}

#redBottom{
	transition-timing-function: linear;
	transition: 7s;

}

#grey1{
	transition-timing-function: linear;
	transition: 2s;

}

#grey2{
	transition-timing-function: cubic-bezier(.57,.06,.83,.62);
	transition: 6s;

}

#grey3{
	transition-timing-function: cubic-bezier(.2,.57,1,.3);
	transition: 10s;

}



#on:before{
	position:absolute;
	content:"";
	width:54%;
	height:60px;
	background-color:white;
	z-index: 200;
	transform:scale(1, 1);
	transform-origin: 0% 0%;
	transition: transform 0.6s cubic-bezier(.07,1.06,.49,.98);

}


#on{
	width:60%;
	margin:0px auto;
	/*height:100px;*/
}

.client{
	float:left;
	text-align: center;
	margin:15px 0px;
	margin-right:100px;
	font-family:"Arial";
	font-weight: bold;
	font-size:0.75em;
	color:#808080;
	letter-spacing: 2px;
	text-decoration: none;
	list-style-type: none;
}
	
.work{
	float:left;
	text-align: center;
	margin:15px 0px;
	font-family:"Arial";
	font-weight: bold;
	font-size:0.75em;
	color:#808080;
	letter-spacing: 2px;
	text-decoration: none;
	list-style-type: none;
}

.client:after{
	display:block;
	margin:10px;
	content:"Cosmo";
	font-family:myFirstFont;
	font-size:1.6em;
	color:black;
	letter-spacing:1px;
	text-decoration: none;
	list-style-type: none;
}


.work:after{
	display:block;
	margin:10px;
	content:"Brand Visual Identity";
	font-family:myFirstFont;
	font-size:1.6em;
	color:black;
	letter-spacing:1px;
	text-decoration: none;
	list-style-type: none;
}




/*firstpartendingggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

#secondpart{
    width:100%;
}


.introduction{
    width:49%;
    margin:0px auto;
    padding-top:12%;
}


#introductionsentence{
    width:100%;
    font-family:"Baskerville";
    font-size:2em;
    word-spacing:2px;
    color:black;
    text-decoration: none;
    text-align: center;
    opacity:0;
    line-height: 40px;
    transition: all 0.5s linear;
    transform-origin: 100% 100%;

}


#spacial{
    width:60%;
    margin-right:auto;
    margin-left:auto;
    margin-top:30%;
    transition:all 0.4s ease-out;
    opacity:0;

}

#simg{
    width:100%;
}


/*secondpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/


#thirdpart{
	float:left;
	width:100%;
	margin-top:16%;
	margin-bottom:15%;
	margin-left:auto;
	margin-right:auto;
	transition:all 0.3s ease-in;
	opacity:0;
}



/*logo*/
#logo{
	float:left;
	width:50%;
	height:100%;
}



#logoSvg{
	width:90%;
	margin-left:15%;
}

.redcolor{
	fill:#C11F26;	
	
}

.blackcolor{
	fill:#231715;
	opacity:0;
}

.redcolorM{
	fill:#C11F26;

}

.lines{
	fill:#C11F26;
	opacity:0;
}

#outWhite{
	transform-origin: 100% 100%;
	opacity:1;
}

#angle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}


#logonotes{
	float:left;
	width:50%;

}

#logoword{
	width:100%;
	padding-right:30%;
	padding-top:33%;
	font-family:"Baskerville";
	line-height: 35px;
	font-size:1.60em;
	word-spacing:2px;
    color:black;
	text-align:right;
}


/*thirdpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

#cirlAni{
	position:absolute;
    top:4100px;
    width:100%;
    border:1px solid black;
    z-index: -100;
}




/*forthpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/



#fifthpart{
    width:100%;
    margin-top:20%;
    background:#D60012;
    float:left;
    border:1px solid rgba(0, 0, 0, 0.4);
}

#tennis{
    margin:0px auto;
    width:100%;
    background-color:#D60012;

}

#timg{
    width:100%;
}



#rediconB{
	width:80%;
	height:70%;
	margin:0px auto;
	background-color:#D60012;
	
}

#redicons{
    width:100%;
}

.icons{
      fill:#FFFFFF;   
      transition:all 0.5s ease-out;
    }

.icons:hover{
    filter:url(#fil1);

    }


/*fifthpartendinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

#final{
    width:100%;
    padding: 50px 100px;
    float:left;
}



#bottom{
	padding:10px 0px;
    float:left;
    width:45%;
    height:100%;
}



.Field{
    padding:5px 0px;
    width:100%;
    font-family:"Arial";
    font-weight: bold;
    font-size:0.75em;
    color:#808080;
    letter-spacing:2px;
    list-style-type: none;
}

 
.Fs{
    width:100%;
    font-family:myFirstFont;
    font-size:1.25em;
    color:black;
    letter-spacing: 1px;
    list-style-type: none;
    line-height:35px;
}




#finalCosmo{
    float:left;
    width:55%;
}

#cosmoL{
    padding:25px 0px;
    width:35%;
    float:right;
}

.cls-1{
    fill:#D60012;
}




}



















